<section class="py-8" id="abillities">
  <div class="container mx-auto p-6">
    <h3 class="text-4xl md:text-5xl lg:text-6xl font-bold text-skin-accent text-center">
          Abillities💪
    </h3>
    <p class="text-white-muted lg:text-2xl text-xl text-center">Skills and expertise that empower me to bring your ideas to life.</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8 py-8">
      <!-- Service 1 -->
      <div class="bg-skin-accent/10 p-6 rounded-lg drop-shadow-lg backdrop-blur-lg flex flex-col items-center border-2 border-skin-accent border-dashed">
        <div class="flex-shrink-0 mb-4">
          <svg class="w-12 h-12 text-skin-accent" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7h.01m3.486 1.513h.01m-6.978 0h.01M6.99 12H7m9 4h2.706a1.957 1.957 0 0 0 1.883-1.325A9 9 0 1 0 3.043 12.89 9.1 9.1 0 0 0 8.2 20.1a8.62 8.62 0 0 0 3.769.9 2.013 2.013 0 0 0 2.03-2v-.857A2.036 2.036 0 0 1 16 16Z"/>
          </svg>
        </div>
        <h3 class="text-2xl font-semibold text-skin-accent">UI/UX Designer</h3>
        <p class="text-color-accent mb-4 text-center">Creating user-friendly interfaces and experiences.</p>
        <a href="#contact" class="mt-auto bg-skin-accent text-white rounded-lg px-4 py-2 hover:bg-skin-accent/80 transition">Hire Me</a>
      </div>
      
      <!-- Service 2 -->
      <div class="bg-skin-accent/10 p-6 rounded-lg drop-shadow-lg backdrop-blur-lg flex flex-col items-center border-2 border-skin-accent border-dashed">
        <div class="flex-shrink-0 mb-4">
          <svg class="w-12 h-12 text-skin-accent" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m5 4-2 2 2 2m4-4 2 2-2 2m5-12v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"/>
          </svg>
        </div>
        <h3 class="text-2xl font-semibold text-skin-accent">Design to Code</h3>
        <p class="text-color-accent mb-4 text-center">Transforming design prototypes into functional code.</p>
        <a href="#contact" class="mt-auto bg-skin-accent text-white rounded-lg px-4 py-2 hover:bg-skin-accent/80 transition">Hire Me</a>
      </div>
    </div>
  </div>
</section>
