<div
  id="journey"
  class="font-primary lg:gap-4 mt-18 mb-12 flex flex-col items-center gap-2 pt-12"
>
  <h3 class="md:text-5xl text-skin-text-base lg:text-6xl text-4xl font-bold">
    My Awards
  </h3>
  <p class="text-white-muted lg:text-2xl text-xl">
    My Professional Certificatons
  </p>
</div>
<div
  class="after:from-dark-primary relative after:absolute after:-bottom-32 after:h-48 after:w-full after:bg-gradient-to-t after:to-transparent after:content-['']"
>
  <div
    class="md:mr-8 lg:before:mr-16 lg:before:w-6 lg:before:translate-x-0 lg:before:translate-y-20 lg:after:translate-y-20 relative flex gap-5 py-4 transition-all before:mr-4 before:aspect-square before:h-fit before:w-4 before:translate-x-[3px] before:translate-y-10 before:bg-skin-accent before:content-[''] after:absolute after:left-[10px] after:top-10 after:h-full after:w-2 after:translate-y-8 after:border-l-[2px] after:border-dashed after:border-gray-400 [&:not(:first-of-type)]:brightness-50 [&:not(:first-of-type)]:grayscale hover:[&:not(:first-of-type)]:brightness-100 hover:[&:not(:first-of-type)]:grayscale-0"
  >
    <div
      class="lg:w-60 h-fit w-32 rounded-sm border-2 border-dashed border-skin-accent bg-transparent p-1 drop-shadow-xl backdrop-blur-0"
    >
      <img
        class="h-full w-full object-cover"
        src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/Certificate/esslxxgrrcafxat2r8lj"
        alt="certificate"
      />
    </div>
    <div class="font-primary">
      <p class="text-white-muted md:text-sm lg:text-base text-xs">
        November 2023 - Current
      </p>
      <h4
        class="md:text-4xl lg:text-[2rem] font-bold text-skin-accent sm:text-2xl"
      >
        Alibaba Cloud Certified Developer
      </h4>
      <p
        class="text-skin-text-base md:text-sm lg:text-base mt-2 text-xs sm:mt-4"
      >
        <a
          href="https://aliyun-aps-cloud-public.oss-cn-hangzhou.aliyuncs.com/img_00ae67b7d7099edbbafba1812b93b728.png"
          target="_blank"
          >Show Credential<svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg></a
        >
      </p>
    </div>
  </div>
  <div
    class="after:from-dark-primary relative after:absolute after:-bottom-32 after:h-48 after:w-full after:bg-gradient-to-t after:to-transparent after:content-['']"
  >
    <div
      class="md:mr-8 lg:before:mr-16 lg:before:w-6 lg:before:translate-x-0 lg:before:translate-y-20 lg:after:translate-y-20 relative flex gap-5 py-4 transition-all before:mr-4 before:aspect-square before:h-fit before:w-4 before:translate-x-[3px] before:translate-y-10 before:bg-skin-accent before:content-[''] after:absolute after:left-[10px] after:top-10 after:h-full after:w-2 after:translate-y-8 after:border-l-[2px] after:border-dashed after:border-gray-400 [&:not(:first-of-type)]:brightness-50 [&:not(:first-of-type)]:grayscale hover:[&:not(:first-of-type)]:brightness-100 hover:[&:not(:first-of-type)]:grayscale-0"
    >
      <div
        class="lg:w-60 h-fit w-32 rounded-sm border-2 border-dashed border-skin-accent bg-transparent p-1 drop-shadow-xl backdrop-blur-0"
      >
        <img
          class="h-full w-full object-cover"
          src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/Certificate/ycaxzqe5hijyaeddzk8k"
          alt="certificate"
        />
      </div>
      <div class="font-primary">
        <p class="text-white-muted md:text-sm lg:text-base text-xs">
          November 2023 - Current
        </p>
        <h4
          class="md:text-4xl lg:text-[2rem] font-bold text-skin-accent sm:text-2xl"
        >
          Progate Command Line Interface
        </h4>
        <p
          class="text-skin-text-base md:text-sm lg:text-base mt-0 text-xs sm:mt-4"
        >
          <a href="#" target="_blank"
            >Show Credential<svg xmlns="http://www.w3.org/2000/svg"
              ><path
                d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
              ></path>
            </svg></a
          >
        </p>
      </div>
    </div>
    <div
      class="after:from-dark-primary relative after:absolute after:-bottom-32 after:h-48 after:w-full after:bg-gradient-to-t after:to-transparent after:content-['']"
    >
      <div
        class="md:mr-8 lg:before:mr-16 lg:before:w-6 lg:before:translate-x-0 lg:before:translate-y-20 lg:after:translate-y-20 relative flex gap-5 py-4 transition-all before:mr-4 before:aspect-square before:h-fit before:w-4 before:translate-x-[3px] before:translate-y-10 before:bg-skin-accent before:content-[''] after:absolute after:left-[10px] after:top-10 after:h-full after:w-2 after:translate-y-8 after:border-l-[2px] after:border-dashed after:border-gray-400 [&:not(:first-of-type)]:brightness-50 [&:not(:first-of-type)]:grayscale hover:[&:not(:first-of-type)]:brightness-100 hover:[&:not(:first-of-type)]:grayscale-0"
      >
        <div
          class="lg:w-60 h-fit w-32 rounded-sm border-2 border-dashed border-skin-accent bg-transparent p-1 drop-shadow-xl backdrop-blur-0"
        >
          <img
            class="h-full w-full object-cover"
            src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/Certificate/esslxxgrrcafxat2r8lj"
            alt="certificate"
          />
        </div>
        <div class="font-primary">
          <p class="text-white-muted md:text-sm lg:text-base text-xs">
            November 2023 - Current
          </p>
          <h4
            class="md:text-4xl lg:text-[2rem] font-bold text-skin-accent sm:text-2xl"
          >
            Progate GIT
          </h4>
          <p
            class="text-skin-text-base md:text-sm lg:text-base mt-2 text-xs sm:mt-4"
          >
            <a
              href="#"
              target="_blank"
              >Show Credential<svg xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                ></path>
              </svg></a
            >
          </p>
        </div>
      </div>
    </div>
    <!-- end wrapper journey -->
  </div>
  <!-- end journey -->
</div>
