 <style>
    /* Custom CSS to hide scrollbar */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;  /* Firefox */
    }
  </style>
<div
  id="journey"
  class="font-primary lg:gap-4 text-center mt-20 mb-12 flex flex-col items-center gap-2 pt-12"
>
  <h3 class="md:text-5xl text-skin-accent lg:text-6xl text-4xl font-bold">
    Achievements🏆
  </h3>
  <p class="text-white-muted text-center lg:text-2xl text-xl">Proof of my expertise, demonstrated through certifications and accolades.</p>
<div class="m-4 flex items-center justify-center border-2 border-solid border-skin-accent rounded-md p-2">
  <div class="w-full overflow-x-auto no-scrollbar">
    <div class="flex space-x-4 items-center">
      <!-- Gambar 1 -->
      <div class="min-w-[80%] sm:min-w-[45%] md:min-w-[22%]">
        <a href="facebook.com">
            <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/Certificate/esslxxgrrcafxat2r8lj" alt="Certificate 2" class="w-full h-auto object-cover">
        </a>
      </div>
      <!-- Gambar 2 -->
      <div class="min-w-[80%] sm:min-w-[45%] md:min-w-[22%]">
        <a href="https://www.google.com/" target="_blank">
            <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/Certificate/ycaxzqe5hijyaeddzk8k" alt="Certificate 1" class="w-full h-auto object-cover">
        </a>
      </div>
      <!-- Gambar 3 -->
      <div class="min-w-[80%] sm:min-w-[45%] md:min-w-[22%]">
        <a href="">
            <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/Certificate/izlxnx6pghzj1zyl2ori" alt="Certificate 3" class="w-full h-auto object-cover">
        </a>
      </div>
      <!-- Gambar 4 -->
      <div class="min-w-[80%] sm:min-w-[45%] md:min-w-[22%]">
        <img src="" alt="Certificate 4" class="w-full h-auto object-cover">
      </div>
      <!-- Tambahkan gambar lainnya sesuai kebutuhan -->
    </div>
  </div>
</div>
</div>
