---
import Socials from "./Socials.astro";
---
    <div
      id="contact"
      class="font-primary flex flex-col items-center gap-2 lg:gap-4 mt-18 pt-12 mb-4"
    >
      <h3 class="text-4xl md:text-5xl lg:text-6xl font-bold text-skin-accent">Form an Alliance⚒️</h3>
      <p class="text-white-muted text-xl lg:text-2xl text-center">Connect with me through social media and email to start new collaborations.</p>
    </div>
    <!-- <div class="flex items-center gap-12 my-8 w-2/3 mx-auto justify-center">
      <a
        class="hover:-translate-y-2 transition-all"
        href="https://t.me/devrando"
        target="_blank"
      >
        <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/s89o8vblqm3ny5jzghhr" alt="telegram" />
      </a>
      <a
        class="hover:-translate-y-2 transition-all"
        href="https://instagram.com/dev.rando"
        target="_blank"
      >
        <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/bdwzvbbwgvjjzgpbcjii" alt="instagram" />
      </a>
      <a
        class="hover:-translate-y-2 transition-all"
        href="https://tiktok.com/@dev.rando"
        target="_blank"
      >
        <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/l8rbo26zux6bjsuoypkf" alt="tiktok" />
      </a>
      <a
        class="hover:-translate-y-2 transition-all"
        href="https://linkedin.com/in/afrandormd"
        target="_blank"
      >
        <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/yqchatwjcvykvraiqfi6" alt="linkein" />
      </a>
    </div> -->
    <Socials centered />
    <a
      href="mailto:afrandoshareinramadhan@gmail.com"
      class="font-primary flex w-fit mx-auto border-2 border-skin-accent text-base lg:text-xl py-4 px-8 items-center gap-8 text-skin-text-base mt-4 mb-10 after:content-[''] after:absolute after:w-0 after:h-full after:bg-skin-accent relative after:left-0 after:-z-10 group hover:after:w-full after:transition-all after:duration-500"
    >
      <!-- <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/jrcskaxidpaqjs7dmj7n" class="w-fit h-fit" alt="envelope" /> -->
      <svg class="svg-icon w-8 h-8" viewBox="0 0 20 20">
        <path d="M17.388,4.751H2.613c-0.213,0-0.389,0.175-0.389,0.389v9.72c0,0.216,0.175,0.389,0.389,0.389h14.775c0.214,0,0.389-0.173,0.389-0.389v-9.72C17.776,4.926,17.602,4.751,17.388,4.751 M16.448,5.53L10,11.984L3.552,5.53H16.448zM3.002,6.081l3.921,3.925l-3.921,3.925V6.081z M3.56,14.471l3.914-3.916l2.253,2.253c0.153,0.153,0.395,0.153,0.548,0l2.253-2.253l3.913,3.916H3.56z M16.999,13.931l-3.921-3.925l3.921-3.925V13.931z"></path>
      </svg>
      <p class="">Or send me an email</p>
    </a>
