---
import Socials from "./Socials.astro";
---
    <div
      id="contact"
      class="font-primary flex flex-col items-center gap-2 lg:gap-4 mt-18 pt-12 mb-4"
    >
      <h3 class="text-4xl md:text-5xl lg:text-6xl font-bold text-skin-text-base">
        Let &#39;s get connected
      </h3>
      <p class="text-white-muted text-xl lg:text-2xl">
        Feel free to have a discuss with me
      </p>
    </div>
    <!-- <div class="flex items-center gap-12 my-8 w-2/3 mx-auto justify-center">
      <a
        class="hover:-translate-y-2 transition-all"
        href="https://t.me/devrando"
        target="_blank"
      >
        <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/s89o8vblqm3ny5jzghhr" alt="telegram" />
      </a>
      <a
        class="hover:-translate-y-2 transition-all"
        href="https://instagram.com/dev.rando"
        target="_blank"
      >
        <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/bdwzvbbwgvjjzgpbcjii" alt="instagram" />
      </a>
      <a
        class="hover:-translate-y-2 transition-all"
        href="https://tiktok.com/@dev.rando"
        target="_blank"
      >
        <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/l8rbo26zux6bjsuoypkf" alt="tiktok" />
      </a>
      <a
        class="hover:-translate-y-2 transition-all"
        href="https://linkedin.com/in/afrandormd"
        target="_blank"
      >
        <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/yqchatwjcvykvraiqfi6" alt="linkein" />
      </a>
    </div> -->
    <Socials centered />
    <a
      href="mailto:afrandoshareinramadhan@gmail.com"
      class="font-primary flex w-fit mx-auto border-2 border-skin-accent text-base lg:text-xl py-4 px-8 items-center gap-8 text-skin-text-base mt-4 mb-10 after:content-[''] after:absolute after:w-0 after:h-full after:bg-skin-accent relative after:left-0 after:-z-10 group hover:after:w-full after:transition-all after:duration-500"
    >
      <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/jrcskaxidpaqjs7dmj7n" class="w-fit h-fit" alt="envelope" />
      <p class="">Or send me an email</p>
    </a>
