      <div
        id="completed-missions"
        class="font-primary flex flex-col items-center gap-2 lg:gap-4 mt-16 pt-12 mb-12"
      >
        <h3 class="text-4xl md:text-5xl lg:text-6xl font-bold text-skin-text-base">
          Completed Missions
        </h3>
        <p class="text-white-muted text-xl lg:text-2xl">
         Top 5 Projects I &#39;ve Made
        </p>
      </div>
      <div class="flex flex-col w-full px-8 lg:px-0 lg:w-2/3 gap-4">
        <div
          class="h-32 md:h-40 lg:h-48 w-full [clip-path:polygon(1%_0%,100%_0%,99%_100%,0%_100%)] relative before:content-[''] before:absolute before:w-full before:h-full before:bg-gradient-to-l before:from-red-500 before:to-transparent before:z-[1] backdrop-blur-sm"
        >
          <img
            class="absolute opacity-40 w-full h-full object-cover object-top"
            src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/Projects/q2xsj8aerr4imf54pgxz"
            alt="&#34;screenshoot of Sipermata Untad"
          />
          <div
            class="isolate absolute z-10 p-4 md:p-6 lg:p-8 flex flex-col justify-end items-end h-full w-full text-white overflow-hidden"
          >
            <h4 class="text-xl lg:text-4xl font-primary font-bold">
              We Serve 
            </h4>
            <p class="text-xs md:text-sm lg:text-base text-right">Layanan web hosting tepercaya dan aman</p>
            <div class="flex w-full mt-2 lg:mt-4 items-center gap-2 justify-between">
              <div class="tech-stack flex items-center">
              <div
                class="bg-white aspect-square w-6 lg:w-12 overflow-hidden [clip-path:polygon(10%_0%,100%_0%,90%_100%,0%_100%)] backdrop-blur-0"
              >
                <img class="scale-150" src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/w9aoykaatthvf990jtqj" alt="Laravel" />
              </div>
              <div
                class="bg-white aspect-square w-6 lg:w-12 overflow-hidden [clip-path:polygon(10%_0%,100%_0%,90%_100%,0%_100%)] backdrop-blur-0"
              >
                <img class="scale-150" src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/wsnfpn3blcpojjljyan4" alt="React" />
              </div>
              <div
                class="bg-white aspect-square w-6 lg:w-12 overflow-hidden [clip-path:polygon(10%_0%,100%_0%,90%_100%,0%_100%)] backdrop-blur-0"
              >
                <img class="scale-150" src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/zjydvdrzwvi8qydhc4ya" alt="Tailwind" />
              </div>
              </div>
              <div>
              <button
                class="px-3 text-sm lg:text-base relative py-1 before:content-[''] before:-z-10 before:top-0 before:left-0 before:absolute before:w-full before:h-full before:border before:border-white hover:before:bg-white hover:text-skin-accent isolate before:-skew-x-3"
              >
                Demo
              </button>
              <button
                class="px-3 text-sm lg:text-base relative py-1 before:content-[''] before:-z-10 before:top-0 before:left-0 before:absolute before:w-full before:h-full before:border before:border-white hover:before:bg-white hover:text-skin-accent isolate before:-skew-x-3"
              >
                Details
              </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="h-32 md:h-40 lg:h-48 w-full [clip-path:polygon(1%_0%,100%_0%,99%_100%,0%_100%)] relative before:content-[''] before:absolute before:w-full before:h-full before:bg-gradient-to-l before:from-yellow-500 before:to-transparent before:z-[1] backdrop-blur-sm"
        >
          <img
            class="absolute opacity-40 w-full h-full object-cover object-top"
            src="/img/sipermata.png"
            alt="&#34;screenshoot of YGBK Enterprise"
          />
          <div
            class="isolate absolute z-10 p-4 md:p-6 lg:p-8 flex flex-col justify-end items-end h-full w-full text-white overflow-hidden"
          >
            <h4 class="text-xl lg:text-4xl font-primary font-bold">
              YGBK Enterprise
            </h4>
            <p class="text-xs md:text-sm lg:text-base text-right">
              Enterprise Management Web App
            </p>
            <button
              class="px-3 text-sm lg:text-base relative py-1 mt-4 before:content-[''] before:-z-10 before:top-0 before:left-0 before:absolute before:w-full before:h-full before:border before:border-white hover:before:bg-white hover:text-blue-500 isolate before:-skew-x-3"
            >
              Demo
            </button>
          </div>
        </div>
        <div
          class="h-32 md:h-40 lg:h-48 w-full [clip-path:polygon(1%_0%,100%_0%,99%_100%,0%_100%)] relative before:content-[''] before:absolute before:w-full before:h-full before:bg-gradient-to-l before:from-orange-500 before:to-transparent before:z-[1] backdrop-blur-sm"
        >
          <img
            class="absolute opacity-40 w-full h-full object-cover object-top"
            src="/img/sipermata.png"
            alt="&#34;screenshoot of Yutabie Rental"
          />
          <div
            class="isolate absolute z-10 p-4 md:p-6 lg:p-8 flex flex-col justify-end items-end h-full w-full text-white overflow-hidden"
          >
            <h4 class="text-xl lg:text-4xl font-primary font-bold">
              Yutabie Rental
            </h4>
            <p class="text-xs md:text-sm lg:text-base text-right">
              Car Rent Marketing Site
            </p>
            <button
              class="px-3 text-sm lg:text-base relative py-1 mt-4 before:content-[''] before:-z-10 before:top-0 before:left-0 before:absolute before:w-full before:h-full before:border before:border-white hover:before:bg-white hover:text-blue-500 isolate before:-skew-x-3"
            >
              Demo
            </button>
          </div>
        </div>
        <div
          class="h-32 md:h-40 lg:h-48 w-full [clip-path:polygon(1%_0%,100%_0%,99%_100%,0%_100%)] relative before:content-[''] before:absolute before:w-full before:h-full before:bg-gradient-to-l before:from-green-500 before:to-transparent before:z-[1] backdrop-blur-sm"
        >
          <img
            class="absolute opacity-40 w-full h-full object-cover object-top"
            src="/img/sipermata.png"
            alt="&#34;screenshoot of IAI Sulteng"
          />
          <div
            class="isolate absolute z-10 p-4 md:p-6 lg:p-8 flex flex-col justify-end items-end h-full w-full text-white overflow-hidden"
          >
            <h4 class="text-xl lg:text-4xl font-primary font-bold">
              IAI Sulteng
            </h4>
            <p class="text-xs md:text-sm lg:text-base text-right">
              Profile of Ikatan Arsitek Indonesia Sulteng
            </p>
            <button
              class="px-3 text-sm lg:text-base relative py-1 mt-4 before:content-[''] before:-z-10 before:top-0 before:left-0 before:absolute before:w-full before:h-full before:border before:border-white hover:before:bg-white hover:text-blue-500 isolate before:-skew-x-3"
            >
              Demo
            </button>
          </div>
        </div>
        <div
          class="h-32 md:h-40 lg:h-48 w-full [clip-path:polygon(1%_0%,100%_0%,99%_100%,0%_100%)] relative before:content-[''] before:absolute before:w-full before:h-full before:bg-gradient-to-l before:from-blue-500 before:to-transparent before:z-[1] backdrop-blur-sm"
        >
          <img
            class="absolute opacity-40 w-full h-full object-cover object-top"
            src="/img/sipermata.png"
            alt="&#34;screenshoot of IAI Sulteng"
          />
          <div
            class="isolate absolute z-10 p-4 md:p-6 lg:p-8 flex flex-col justify-end items-end h-full w-full text-white overflow-hidden"
          >
            <h4 class="text-xl lg:text-4xl font-primary font-bold">
              IAI Sulteng
            </h4>
            <p class="text-xs md:text-sm lg:text-base text-right">
              Profile of Ikatan Arsitek Indonesia Sulteng
            </p>
            <button
              class="px-3 text-sm lg:text-base relative py-1 mt-4 before:content-[''] before:-z-10 before:top-0 before:left-0 before:absolute before:w-full before:h-full before:border before:border-white hover:before:bg-white hover:text-blue-500 isolate before:-skew-x-3"
            >
              Demo
            </button>
          </div>
        </div>
      </div>