<!-- Profile -->
<div
  class="md:py-0 md:mb-20 mt-18 md:mt-20 mb-16 flex flex-col items-center justify-between py-2 sm:flex-row"
>
  <div class="info my-2 px-4 text-center sm:text-left">
    <p>Hello World! 👋 I&#39;m</p>
    <h1 class="pt-2 text-4xl font-bold">Afrando Sharein R.</h1>
    <p class="text-xl font-semibold text-skin-accent">Programmer | Content Creator</p>
    <!-- CTA -->
    <div class="ml-0 sm:-ml-40">
      <a
        href="mailto:afrandoshareinramadhan@gmail.com"
        class="font-primary lg:text-xl group relative mx-auto mb-4 mt-4 flex w-fit items-center gap-4 rounded-md border-2 border-skin-accent px-2 py-2 text-base text-skin-text-base after:absolute after:left-0 after:-z-10 after:h-full after:w-0 after:bg-skin-accent after:transition-all after:duration-500 after:content-[''] hover:after:w-full"
      >
        <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/jrcskaxidpaqjs7dmj7n" class="h-fit w-5" alt="resume" />
        <p class="font-bold">Download CV</p>
      </a>
    </div>
  </div>
  <div class="image-profile relative">
    <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/ebqdzyvxtl31bfprxuhp" class="w-2/4 sm:w-fit absolute left-20 top-12 sm:left-40 sm:top-24" alt="" />
    <img
      class="w-32 rounded-2xl border-skin-accent animate-float border-2 drop-shadow-lg sm:w-56"
      src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/ldcuchvbuw55fje6obpl"
      alt="profile"
    />
    <img src="https://res.cloudinary.com/dxfcrtzo7/image/upload/f_auto,q_auto/v1/devrando-portfolio/aw0jqvkqgac8ajnmefr4" class="w-3 sm:w-fit inline absolute right-32 top-1.5 sm:top-8 sm:right-60" alt="arrow-ornament" />
  </div>
</div>
<div class="greetings">
  <!-- <h1 class="text-3xl font-bold">Hello World👋</h1> -->
  <p class="text-center text-base sm:text-left">
    I am a <span class="font-bold text-skin-accent">Full-Stack Developer</span> with
    a passion for delivering exceptional results. With my expertise in React and
    NextJS on the frontend, and Laravel, NodeJS, and Express on the backend, I bring
    a unique combination of technical skills and creative problem-solving to every
    project I work on.
  </p>
</div>
