<section class="my-12 py-13">
  <div class="container mx-auto p-7 rounded-lg bg-skin-accent/10 backdrop-blur-lg drop-shadow-lg">
    <div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-4 gap-8 text-center">
      <!-- Stat 0 -->
      <div class="stat">
        <h3 class="text-4xl font-bold text-skin-accent">$1500</h3>
        <p class="text-color-accent">Project Valuation</p>
      </div>
      
      <!-- Stat 1 -->
      <div class="stat">
        <h3 class="text-4xl font-bold text-skin-accent">50</h3>
        <p class="text-color-accent">Successful Projects</p>
      </div>

      <!-- Stat 2 -->
      <div class="stat">
        <h3 class="text-4xl font-bold text-skin-accent">20</h3>
        <p class="text-color-accent">Countries</p>
      </div>
      
      <!-- Stat 3 -->
      <div class="stat">
        <h3 class="text-4xl font-bold text-skin-accent">5+</h3>
        <p class="text-color-accent">Big Companies
